body {
    background-color: #ffffff;
    font-family: "Monserrat", sans-serif;
    font-size: 14px;

}

h1 {
    color: #2f9bca;
    margin-left: 20px;
}

p {
    color: #444444;
    margin-left: 20px;
}